@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

:root {
    /* font-size */
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-sm: 20px;
    --fs-md: 30px;
    --fs-lg: 50px;
    --fs-xl: 35px;
    /* color */
    --color-white: #FFFFFF;
    --color-black: #000000;
    /* line-height */
    --lh-n: normal;
    --lh-24: 24px;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 21.74px;
    font-weight: 600;
    line-height: 32.62px;
    color: var(--color-white);
}

.list-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--color-white);
}

.section-1 {
    background-image: url(../image/hero-section-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w-515 {
    max-width: 515px;
}

.h-3 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 86.8px;
    color: var(--color-white);
}

.text-1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 500;
    line-height: 41px;
    color: #B3C6D2;
}

.btn-get {
    font-size: 25px;
    color: #001D49;
    width: 225px;
    height: 69px;
    border-radius: 45.5px;
    background-color: var(--color-white);
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
}

.btn-get:hover {
    background-color: transparent;
    border: 2px dotted var(--color-white);
    border-bottom: 2px solid var(--color-white);
    color: var(--color-white);
    box-shadow: 0 0 10px var(--color-white);
    scale: 1.05;
}

.section-2,
.section-3,
.section-4,
.section-5,
.footer-1 {
    background-color: #000A1A;
}

.ellipse1 {
    top: -20%;
    left: -8%;
}

.ellipse3 {
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.text-2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 600;
    line-height: 68px;
    color: var(--color-white);
}

.rec-60 {
    bottom: 0%;
    left: 0%;
}

.text-3 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 21.76px;
    color: #80848C;
}

.btn-coming {
    background: #FFFFFF;
    width: 149px;
    height: 44px;
    border-radius: 45.5px;
    color: var(--color-black);
    border: 2px inset transparent;
    transition: all 300ms ease-in-out;
}

.btn-coming:hover {
    color: var(--color-white);
    background-color: transparent;
    border: 2px inset var(--color-white);
    box-shadow: 0 0 10px var(--color-white);
}

.icon1 {
    transition: all 0.3s ease-in-out;
}

.icon1:hover {
    filter: drop-shadow(0 0 10px var(--color-white));
    scale: 1.1;
}

.mt-24 {
    margin-top: 24px;
}

.mt-130 {
    margin-top: 130px;
}

.card1 {
    height: 100%;
    background: #031227;
    width: 100%;
    min-height: 511px;
    border-radius: 20px;
    padding: 22px;
    transition: all 0.3s ease-in-out;
}

.img6 {
    transition: all 0.3s ease-in-out;
}

.card1:hover {
    filter: drop-shadow(0 0 10px #FFF);

    .img6 {
        scale: 1.1;
        filter: drop-shadow(0 0 4px #FFF);
    }
}

.roadmap {
    padding-left: 26px;
}

.ml-11 {
    margin-left: 26px;
}

.roadmap::after {
    content: '';
    background-image: url(../image/timeline.png);
    position: absolute;
    top: 0%;
    height: 100%;
    width: 2px;
    left: 26px;

}

.timeline-box {
    width: 80%;
    padding-left: 37px;
    position: relative;
}

.timeline-box::after {
    content: '';
    width: 43px;
    height: 43px;
    background: #009DFF;
    border: 3.23px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: -21.2px;
    top: 0%;
    z-index: 1;
}

.timeline-box::before {
    content: '';
    width: 64px;
    height: 64px;
    background: #009DFF;
    border-radius: 50%;
    position: absolute;
    left: -32.2px;
    top: -11px;
    opacity: 10%;
}

.mt-146 {
    margin-top: 146px;
}

.max-w-786 {
    max-width: 786px;
}

.w-70 {
    width: 70%;
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-30 {
    font-size: var(--fs-md);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fw-700 {
    font-weight: 700;
}

.accordion {
    max-width: 830px;
    --bs-accordion-bg: transparent;
    border-radius: 150px 150px 0 0;
    --bs-accordion-border-color: transparent;
}

.accordion-item {
    margin-top: 26px;

}

.accordion-button {
    background-color: #031227;
    border-radius: 150px !important;
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 500;
    color: var(--color-white);
    line-height: 24.38px;
    text-align: left;
    padding: 20px;
}

.accordion-body {
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: var(--color-white);
}

.accordion-button::after {
    background-image: url(../svg/arrow-down.svg);
    transform: translateY(6px);
}

.top20 {
    top: -20%;
}

.bottom50 {
    bottom: -50%;
}

.color-white {
    color: var(--color-white);
}

.prime {
    transition: all 0.3s ease-in-out;
}

.prime:hover {
    scale: 1.07;
    filter: drop-shadow(0 0 10px #FFF);
}

.lh-n {
    line-height: var(--lh-n);
}

.max-w-388 {
    max-width: 388px;
}

.lh-24 {
    line-height: var(--lh-24);
}

.fs-14 {
    font-size: var(--fs-14);
}

@media (min-width:768px) {
    .card1 {
        padding: 40px;
    }
}

@media (min-width:992px) {
    :root {
        /* font-size */
        --fs-sm: 20px;
        --fs-md: 30px;
        --fs-lg: 50px;
        --fs-xl: 70px;
    }

    .roadmap {
        padding-left: 0px;
    }

    .roadmap::after {
        left: 50%;
    }

    .timeline-box {
        width: 50%;
        padding-left: 64px;
        position: relative;
    }

    .left-50 {
        left: 50%;
    }

    .right.timeline-box::after {
        right: -21.2px;
        left: auto;
    }

    .right.timeline-box::before {
        right: -32.2px;
        left: auto;
    }

    .mb-212 {
        margin-bottom: 212px;
    }

    .pr-64 {
        padding-right: 64px;
    }

    .w-lg-auto {
        width: auto;
    }
}